* {
  padding: 0;
  margin: 0;
  font-family: "Gentium Book Basic", serif;
}

body {
  color: #944db4;
  background-color: #3d8863;
}

.welcome-message {
  font-size: 400%;
  margin: 50px auto;
}

.message {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

#add-container {
  border: 5px solid #333;
  border-radius: 5px;
  width: 400px;
  height: 200px;
  background-color: grey;
  margin: auto;
  display: block;
}

.add-message {
  margin-top: 20px;
  font-size: 300%;
}

.btn {
  width: 150px;
  height: 75px;
  background-color: lightpink;
  border-style: none;
  border: 1px #333 solid;
  border-radius: 5px;
  font-size: 200%;
  margin: 20px 24px;
}

.btn:hover {
  background-color: lightyellow;
}

#list-container {
  height: 500px;
  width: 1500px;
  border: 5px solid #333;
  border-radius: 15px;
  margin-top: 50px;
  margin: 50px auto 0px auto;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  border: 5px solid #333;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  background-color: rgb(65, 65, 65);
  text-align: center;
}

.text {
  font-size: 100%;
  margin: 20px 0px;
}

/* Popup form */
#overlay {
  height: 400px;
  width: 400px;
  background-color: grey;
  z-index: 2;
  position: fixed;
  left: 38%;
  display: none;
  border-radius: 15px;
  border: solid 5px #333;
}

.form {
  display: block;
}

.form-input {
  height: 10%;
  width: 90%;
  margin: 20px auto;
  border-radius: 15px;
  border: 1px solid #333;
  font-size: 200%;
  text-align: center;
}

.form-input::placeholder {
  text-align: center;
}

#form-read-text {
  font-size: 300%;
  display: inline;
  margin: auto 50px;
}

#form-read {
  display: inline-block;
  height: 10%;
  width: 10%;
}

.form-btn {
  display: block;
  width: 50%;
  height: 10%;
  margin: 10px auto;
  border-radius: 15px;
  border: 1px solid #333;
}
